project:
  type: book
  output-dir: ../_output/skript

lang: de
number-depth: 2

book:
  title: "Mathematik B"
  subtitle: Statistik und Datenanalyse
  author: "Matthias Baitsch"
  output-file: skript-mathematik-b
  date: today
  chapters:
    - index.qmd
    - c/01-statistische-daten.qmd
    - c/02-einzelne-merkmale.qmd
    - c/03-kenngroessen.qmd
    - c/04-dichtekurven-und-normalverteilung.qmd
    - c/05-zwei-merkmale.qmd
    - literatur.qmd

filters: 
  - latex-environment
commands: [neuerbegriff]
environments: [beispiel]

format: 
  html: 
    toc: true
    toc-depth: 4
    license: CC BY-SA
    css: bcd-style-notes.css
    default-image-extension: svg
  pdf:
    include-in-header:
      - _bcd-setup.tex
      - text: |
          \AddToHook{cmd/section/before}{\clearpage}
    include-after-body:
      text: |
        \printindex
    default-image-extension: pdf
    
bibliography: bcd-bausteine-statistik.bib

