.neuerbegriff { 
    color: rgba(177, 52, 52, 0.746); 
    font-weight: bolder;
} 
	
.beispiel {
  border-left: 5px solid;
  border-color: darksalmon;
  padding-left: 8px;
}

.definition {
  background-color: #dee0e3;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
}